{% extends 'base.html' %}

{% block title %}
    Menú de Hamburguesas
{% endblock %}

{% block content %}
        {% for hamburguesa in hamburguesas %}
        <li>
            <h2>{{ hamburguesa.nombre }}</h2>
            {% if hamburguesa.imagen %}
                <img src="{{ hamburguesa.imagen.url }}" alt="{{ hamburguesa.nombre }}" style="width: 200px; height: auto;">
            {% endif %}
            <p>{{ hamburguesa.descripcion }}</p>
            <p>Precio: ${{ hamburguesa.precio }}</p>
        </li>
        {% endfor %}
    </ul>

{% endblock %}

